@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@model List<CPEA.Models.ProgramOptions>
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">Programs</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0"></h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">Id</th>
                                <th class="pt-0">Program</th>
                                <th class="pt-0">Name</th>
                                <th class="pt-0">Price (NGN)</th>
                                <th class="pt-0">Deposit (NGN)</th>
                                <th class="pt-0">Price (USD)</th>
                                <th class="pt-0">Deposit (USD)</th>
                                <th class="pt-0">Duration</th>
                                <th class="pt-0">Start Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ProgramOptionId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Category.Institution.ShortName) - @Html.DisplayFor(modelItem => item.Category.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>₦ @Html.DisplayFor(modelItem => item.PriceNGN)</td>
                                        <td>₦ @Html.DisplayFor(modelItem => item.DepositNGN)</td>
                                        <td>$ @Html.DisplayFor(modelItem => item.PriceUSD)</td>
                                        <td>$ @Html.DisplayFor(modelItem => item.DepositUSD)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StartDate.ToString("dd/MM/YYYY"))</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <a asp-controller="Admin" asp-action="AddProgramOption" class="btn btn-primary" data-toggle="modal" data-target="#AddProgramOption" style="margin-top: 15px; background-color: #058383 !important "> New Program Option</a>
                    <partial name="AddProgramOption" />
                </div>
            </div>
        </div>
    </div>

</div>
